.wrapper{
  width: 100%;
}
.container{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #F0F2F5;
}
.friendInfo{
  width: 100%;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.friendPhoto{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.username{
  text-transform: capitalize;
  font-size: 1.3rem;
}
.dotBox{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dots{
  font-size: 1.5rem;
}