.container{
  width: 100%;
  height: calc(100% - 8rem);
  overflow-y: scroll;
  background-color: #EFEAE3;
  padding: 2rem;
}

@media screen and (max-width: 1000px) {
  .container{
    padding: 1rem;
  }
}