.container{
  border: 1px red solid;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #F0F2F5;
}
.label{
  border: 1px red solid;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.attach{
  font-size: 1.3rem;
}
.text{
  width: 100%;
  height: 2.5rem;
  margin: 0 1rem;
  resize: none;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
}
.send{
  font-size: 1.5rem;
  cursor: pointer;
}